$input-color: #84b45e;
$button-color: #E4E9FE;
$info-color: #cd7d12;
$comment-highlight-color: #ca861f;
$danger-color: #e69010;
$title-color: #d29a46;
$user-color: #7c4b37;
$delete-btn-color: #371407;
$suggestion-background-color: #19af39;
$suggestion-color:#faefa7;
$suggestion-default-color: #999;

@mixin button($color) {
  background-color: $color;
  border: 1px solid darken($color, 10);
  &:hover {
    background-color: lighten($color, 10);
  }
  &:active {
    background-color: lighten($color, 20);
  }
}

html,
*,
*:before,
*:after {
  box-sizing: border-box;
  color: #4e2611;
}

html,
body,
input {
  font: menu;
}

input,
button {
  display: block;
  width: 100%;
  &:focus {
    outline: none;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid $input-color;
  // font-size: 1.5em;
  padding: 0.5em;
}

input[type='text']::placeholder {
  color: $user-color;
}

.create {
  color: $delete-btn-color;
  //text-shadow: 0 0 3px rgb(105, 73, 25);
  background-color: $suggestion-background-color !important;
}

button,
input[type='submit'],
.button {
  display: block;
  width: 100%;
  // font-size: 1.1em;
  padding: 0.5em;
  @include button($button-color);
  &.star, &.create, &.update {
    @include button($input-color);
  }
  &.delete {
    @include button($danger-color);
  }
}

input[type="file"] {
  margin: 1em 0;
  padding: 1em 0;
}

.aplication {
  max-width: 600px;
  margin: auto;
}

.app-title {
  background-image: linear-gradient(60deg, $user-color, $suggestion-color);
  background-clip: text;
  color: transparent;
  font-style: italic;
    
}

%authentication {
  border: 1px solid $input-color;
  padding: 1em;
  margin-bottom: 1em;
  h2 {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    border-left: 5px solid $info-color;
  }
}

.SignIn {
  @extend %authentication;
}

.SignUp {
  @extend %authentication;
}

.CurrentUser {
  @extend %authentication;
  .CurrentUser--profile {
    display: flex;
    margin-bottom: 0.5em;
  }
  .CurrentUser--information {
    flex: 4;
  }
  img {
    flex: 1;
    margin-right: 1em;
    max-height: 150px;
  }
  h2 {
    margin-bottom: 1em;
  }
  .created-at:before {
    content: 'Joined';
    color: $comment-highlight-color;
    font-weight: bold;
    margin: 0.5em 0.5em;
  }
  .email:before {
    content: 'Email';
    color: $comment-highlight-color;
    font-weight: bold;
    margin: 0.5em 0.5em;
  }
}

.add-post,
.AddComment {
  max-width: 720px;
  min-width: 480px;
  margin-bottom: 0.2em;
  // border: 1px solid $input-color;
  border: 2px solid $title-color;
}

.add-post {
  margin-bottom: 1em;
}

.post-max-container {
  display: flex;
  flex-direction: column;
}

.no-suggestions {
  background-color: $suggestion-color;
  color: $suggestion-default-color;
  padding: 0.5rem;
  border: 1px solid $suggestion-default-color;
}
.suggestions {
  border: 1px solid $suggestion-default-color;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}
.suggestions li {
  padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
  color: $suggestion-color;
  background-color: $title-color;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid $suggestion-default-color;
}

.list {
  display:flex;
  flex-direction: column;
  font-style: italic;
  margin-left:20px;
  max-width: 180px;
}

.AddComment {
  display: flex;
  input {
    margin: 0;
    padding: 0.5em;
  }
  input[type="text"] {
    flex: 3;
  }
  input[type="submit"] {
    flex: 1;
  }
}

.post {
  border: 1px solid $title-color;
  // border-radius: 10px;
  // border: 1px solid $input-color;
  margin-bottom: 0.2em;
  max-width: 720px;
  min-width: 480px;
}

.post-content {
  padding: 0.3em;
  h3 {
    margin-top: 0;
  }
}

.post-meta {
  padding: 0.2em;
  background: rgb(128,209,82);
  background: radial-gradient(circle, rgba(128,209,82,1) 0%, rgba(249,227,164,1) 99%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    display: inline-block;
    margin: 0.5em;
  }
  button {
    display: inline-block;
    width: auto;
    border-radius: 1em;
    color: $delete-btn-color;
    &:not(:last-child) {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}

.p-username{
  font-style: italic;
  font-size: 0.9em;
}

.p-date {
  font-size: 0.8em;
  font-style: italic;
}

.Comment {
  margin: 1em 0;
}

.Comment--author {
  color: $comment-highlight-color;
  font-weight: bold;
  &:after {
    content: ': ';
  }
}

.Comment--timestamp {
  color: darken($info-color, 40);
  &:before {
    content: ' ';
  }
}